:root {
    --primary-color: #083efd;
    --secondary-color: #e12836;
    --tertiary-color: #fffffb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tertiary-color);
}

/* HEADER/NAV STYLE START */

header {
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    background-color: var(--primary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header div a {
    color: white;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: white;
    border-radius: 15px;
    text-shadow: none;
}

/* HERO/NAV STYLE END */

/* HERO STYLE START */

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
    height: 860px;
}

.hero img {
    width: 400px;
    height: auto;
    margin-right: 25px;
}

.hero article {
    line-height: 1.5;
    margin-left: 50px;
    width: 40%;
}

/* HERO STYLE END */

/* ABOUT ME STYLE START */

.about-me {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    position: relative; 
    margin: 50px;
}

.about-me {
    font-size: 50px;
}

/* ABOUT ME STYLE END */

/* MY WORK/PORTFOLIO STYLE START */

#my-work {
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
}

.portfolio {
    width: 80%;
    height: 600px;
    margin: auto;
    overflow: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio h1 {
    font-size: 40px;
    text-align: center;
    position: relative;
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
}

.portfolio main {
    position: relative;
}

.portfolio main h3 {
    position: absolute;
    background-color: var(--secondary-color);
    color: white;
    border: solid 5px black;
    padding-right: 5px;
}

.portfolio main img {
    width: 100%;
}

.portfolio div {
    width: 45%;
    margin-top: 10px;
}

.portfolio div h3 {
    position: absolute;
    background-color: var(--secondary-color);
    color: white;
    border: solid 5px black;
    padding-right: 5px; 
}

.portfolio div img {
    width: 100%;
    padding: 0 5px;
    flex: 1;
}

/* MY WORK STYLE END */

/* FOOTER STYLE START */

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    text-align: center;
    line-height: 1.5;
    position: relative;
    color: white;
}

footer h2 {
    margin-top: 10px;
}

footer p {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 15px;
}

/* FOOTER STYLE END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        position: relative;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 30px;
    }

    .hero {
        height: 670px;
    }

    .hero article {
        font-size: x-large;
        margin-top: 15px;
    }

    .about-me p {
        font-size: x-large;
    }

    footer h2 {
        font-size: xx-large;
    }

    footer p {
        font-size: larger;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    .hero article {
        text-align: center;
        margin: 0%;
    }

    .portfolio div {
        width: 50%;
    }
    
    .portfolio div img {
        padding: 5px;
    }

    footer p {
        font-size: larger;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    header {
        padding: 0;
    }

    header div {
        width: 100px;
        height: 100px;
    }

    header nav {
        padding: 10px 0;
        float: left;
        width: 475px;
        margin-top: 24px;
    }

    .portfolio {
        margin-top: -50px;
    }

    .portfolio div {
       margin-top: -100px;
    }

    .portfolio div h3 {
        margin-left: 5px;
    }

    .portfolio img {
        height: 230px;
        width: auto;
    }

    footer div p {
       margin: 0;
       padding: 5px 15px;
    }
}
